workflows/AGRER - RADAR - WF1 - SCRAPPING WB.json
{
  "name": "AGRER - RADAR - WF1 - SCRAPPING WB",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "countries",
              "name": "countries",
              "value": "={{ [{ code: 'SN', name: 'Senegal' }, { code: 'CI', name: 'Cote dIvoire' }, { code: 'BF', name: 'Burkina Faso' }] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "2bf86ac2-bd2a-42bc-97c0-3a89eaf71ce2",
      "name": "Config Pays",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        176
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "countries",
        "options": {}
      },
      "id": "01f46a63-86cc-44e7-8eee-bec8025a5ab3",
      "name": "Split par Pays",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1312,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const countries = $input.all().map(i => i.json);\nlet allNotices = [];\n\nfor (const country of countries) {\n  const countryCode = country.code;\n  const countryName = country.name;\n  const pageSize = 50;\n  const baseUrl = 'https://search.worldbank.org/api/v2/procnotices';\n  const startDate = '2022-01-01';\n  \n  let os = 0;\n  let total = null;\n  \n  do {\n    const url = `${baseUrl}?format=json&rows=${pageSize}&os=${os}&notice_type=Contract%20Award&project_ctry_code=${countryCode}&strdate=${startDate}&srt=noticedate&ord=desc`;\n    \n    const data = await this.helpers.httpRequest({ method: 'GET', url, json: true });\n    \n    if (total === null) total = parseInt(data.total || 0);\n    \n    const notices = data.procnotices || [];\n    allNotices = allNotices.concat(notices.map(n => ({ ...n, _country_code: countryCode, _country_name: countryName })));\n    \n    os += pageSize;\n    if (allNotices.length >= 15000) break;\n    \n  } while (os < total);\n  \n  total = null; // reset pour le pays suivant\n}\n\nreturn allNotices.map(n => ({ json: n }));"
      },
      "id": "9e747354-02ca-4a63-9dfb-d3723bd6b358",
      "name": "Paginer API (tous pays)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1088,
        176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst noticeText = item.notice_text || '';\nlet awardValue = null;\nlet currency = null;\nconst p1 = noticeText.match(/Signed Contract Price<\\/b><br\\/>([A-Z]{2,4})\\s+([\\d,\\.]+)/);\nif (p1) {\n  currency = p1[1];\n  awardValue = parseFloat(p1[2].replace(/,/g, ''));\n}\nif (!currency) {\n  const p2 = noticeText.match(/<div class='col-xs-4'>([A-Z]{3}[^<]*)<\\/div>\\s*<div class='col-xs-4'>([\\d,\\.]+)<\\/div>/);\n  if (p2) {\n    const codeMatch = p2[1].match(/^([A-Z]{3})/);\n    if (codeMatch) currency = codeMatch[1];\n    awardValue = parseFloat(p2[2].replace(/,/g, ''));\n  }\n}\nif (!currency) {\n  const p3 = noticeText.match(/Final Evaluation Price<\\/b><br\\/>([A-Z]{2,4})\\s+([\\d,\\.]+)/);\n  if (p3) {\n    currency = p3[1];\n    awardValue = parseFloat(p3[2].replace(/,/g, ''));\n  }\n}\n\n// Extraire uniquement la section \"Awarded Firm(s)\"\nconst awardedSectionMatch = noticeText.match(\n  /<u>\\s*<b>Awarded Firm\\(s\\):<\\/b><\\/u>([\\s\\S]*?)(?:<u>\\s*<b>(?:Evaluated|Rejected) Firm|$)/\n);\nconst awardedSection = awardedSectionMatch ? awardedSectionMatch[1] : '';\n\nconst winnerNames = [];\nconst winnerCountries = [];\nconst firmRegex = /<b>([^<(]+)\\s*\\(\\d+\\)<\\/b><br\\/>(?:[^<]*<br\\/>)*?Country:\\s*([^<\\n]+)/g;\nlet match;\nwhile ((match = firmRegex.exec(awardedSection)) !== null) {\n  winnerNames.push(match[1].trim());\n  winnerCountries.push(match[2].trim());\n}\n\nlet awardDate = item.noticedate || null;\nconst dateMatch = noticeText.match(/(\\d{4}\\/\\d{2}\\/\\d{2})/);\nif (dateMatch) {\n  awardDate = dateMatch[1].replace(/\\//g, '-');\n}\nlet contractDuration = null;\nconst durMatch = noticeText.match(/Duration of Contract[\\s\\S]{0,30}?(\\d+)\\s*(Month|Year)/i);\nif (durMatch) {\n  contractDuration = `${durMatch[1]} ${durMatch[2]}(s)`;\n}\nconst consortiumFlag = winnerNames.length > 1;\nreturn {\n  json: {\n    _raw_id: item.id,\n    _country_code: item._country_code,\n    _country_name: item._country_name,\n    _notice_date: item.noticedate,\n    _project_name: item.project_name,\n    _project_id: item.project_id,\n    _bid_description: item.bid_description,\n    _procurement_group: item.procurement_group,\n    _procurement_method: item.procurement_method_name || null,\n    _winner_names: winnerNames,\n    _winner_countries: winnerCountries,\n    _award_value: awardValue,\n    _currency: currency,\n    _award_date: awardDate,\n    _contract_duration: contractDuration,\n    _consortium_flag: consortiumFlag,\n    award_id: `WB_${item._country_code}_${item.id}`,\n    source_url: `https://projects.worldbank.org/en/projects-operations/procurement-detail/${item.id}`,\n    bid_reference_no: item.bid_reference_no || ''\n  }\n};"
      },
      "id": "fae7d07b-1a67-4f37-986f-6613cad61ea5",
      "name": "Parser notice_text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-winner",
              "leftValue": "={{ $json._winner_names.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "54314d24-4ddb-4b40-8e30-a82eeb314f72",
      "name": "Filtre: a un laurÃĐat",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -656,
        176
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst text = `${item._project_name || ''} ${item._bid_description || ''}`.toLowerCase();\n\nconst tags = [];\n\nif (/agri|agricultur|agro|rural|farm|ÃĐlevage|livestock|semence|seed|irrigation|maraich|pÃŠche|peche|aquacul|halieutique|food|alimentaire|nutrition/.test(text)) tags.push('agro');\nif (/environment|environnement|natural resource|ressource naturelle|forest|forÃŠt|climat|climate|biodiversity|biodiversitÃĐ|waste|dÃĐchet|dechet|eau|water|sanit|assainissement|ÃĐcosystÃĻme|ecosystem|land|foncier|cadastre/.test(text)) tags.push('env');\nif (/energy|ÃĐnergie|solar|solaire|electric|ÃĐlectric|power|renouvelable|renewable|biomass|biomasse|hydropower|photovoltaÃŊque/.test(text)) tags.push('energy');\nif (/infrastructure|construction|travaux|civil works|route|road|pont|bridge|bÃĒtiment|building/.test(text)) tags.push('infra');\nif (/consultant|consulting|ÃĐtude|study|audit|expertise|assistance technique|technical assistance/.test(text)) tags.push('consulting');\n\nconst pgMap = { CS: 'consulting', GO: 'goods', CW: 'civil_works' };\nconst pgTag = pgMap[item._procurement_group] || item._procurement_group;\n\nreturn {\n  json: {\n    ...item,\n    tags: tags.join(',') || 'other',\n    _pg_tag: pgTag\n  }\n};"
      },
      "id": "70854527-1a29-4fa1-8c1a-9e65fc78b450",
      "name": "Tagger",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const d = item.json;\n  const winnerName = d._winner_names.length > 0 ? d._winner_names[0] : '';\n  const winnerCountry = d._winner_countries.length > 0 ? d._winner_countries[0] : '';\n  const membersComplete = d._consortium_flag\n    ? d._winner_names.map((n, i) => `${n} (${d._winner_countries[i] || '?'})`).join(' | ')\n    : '';\n\n  return {\n    json: {\n      award_id: d.award_id,\n      source: 'World Bank',\n      source_url: d.source_url,\n      place_of_performance: d._country_code,\n      title: d._bid_description || '',\n      publication_date: d._award_date || d._notice_date || '',\n      award_value: d._award_value || '',\n      currency: d._currency || '',\n      tags: d.tags || '',\n      consortium_flag: d._consortium_flag ? 'TRUE' : 'FALSE',\n      members_complete: membersComplete,\n      buyer_name: d._project_name || '',\n      winner_name: winnerName,\n      winner_country: winnerCountry,\n      cpv_category: d._pg_tag || '',\n      procurement_method: d._procurement_method || '',\n      project_id: d._project_id || '',\n      contract_duration: d._contract_duration || '',\n      bid_reference_no: d.bid_reference_no || '',\n      scraped_at: new Date().toISOString()\n    }\n  };\n});"
      },
      "id": "35977883-df02-46be-b659-a6835545da95",
      "name": "PrÃĐparer Rows (Awards)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        16
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = [];\n\nfor (const item of items) {\n  const d = item.json;\n  d._winner_names.forEach((name, i) => {\n    rows.push({\n      json: {\n        award_id: d.award_id,\n        member_name: name,\n        member_country: d._winner_countries[i] || '',\n        member_rank: i + 1,\n        is_lead: i === 0 ? 'TRUE' : 'FALSE',\n        consortium_flag: d._consortium_flag ? 'TRUE' : 'FALSE',\n        place_of_performance: d._country_code,\n        project_id: d._project_id || '',\n        publication_date: d._award_date || d._notice_date || '',\n        tags: d.tags || '',\n        scraped_at: new Date().toISOString()\n      }\n    });\n  });\n}\n\nreturn rows;"
      },
      "id": "4d80ef4c-1515-4c2f-b753-8c6f059bb47d",
      "name": "PrÃĐparer Rows (Members)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        352
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RDk6RzU6WQJXSlz1_SdDz57BsioO3O0UTbyarVDDJig",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "WB_Awards",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "award_id"
          ],
          "schema": [
            {
              "id": "award_id",
              "displayName": "award_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_url",
              "displayName": "source_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place_of_performance",
              "displayName": "place_of_performance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publication_date",
              "displayName": "publication_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "award_value",
              "displayName": "award_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "consortium_flag",
              "displayName": "consortium_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "members_complete",
              "displayName": "members_complete",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "buyer_name",
              "displayName": "buyer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "winner_name",
              "displayName": "winner_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "winner_country",
              "displayName": "winner_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cpv_category",
              "displayName": "cpv_category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "procurement_method",
              "displayName": "procurement_method",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "bid_reference_no",
              "displayName": "bid_reference_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contract_duration",
              "displayName": "contract_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ed5f2216-0e15-420b-a3a8-1a59029a5cf3",
      "name": "Google Sheets â WB_Awards",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -16,
        16
      ],
      "credentials": {
        "googleApi": {
          "id": "g9Hi58IPdo95t2xi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RDk6RzU6WQJXSlz1_SdDz57BsioO3O0UTbyarVDDJig",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Members",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "award_id"
          ],
          "schema": [
            {
              "id": "award_id",
              "displayName": "award_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "member_name",
              "displayName": "member_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "member_country",
              "displayName": "member_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "member_rank",
              "displayName": "member_rank",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_lead",
              "displayName": "is_lead",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "consortium_flag",
              "displayName": "consortium_flag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "place_of_performance",
              "displayName": "place_of_performance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "publication_date",
              "displayName": "publication_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "scraped_at",
              "displayName": "scraped_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "40bcbbfa-f536-4a1c-8477-225d546d9bc4",
      "name": "Google Sheets â Members",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -32,
        352
      ],
      "credentials": {
        "googleApi": {
          "id": "g9Hi58IPdo95t2xi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Collecter les project_ids uniques depuis tous les awards\nconst items = $input.all();\nconst seen = new Set();\nconst unique = [];\n\nfor (const item of items) {\n  const pid = item.json._project_id;\n  if (pid && !seen.has(pid)) {\n    seen.add(pid);\n    unique.push({ json: { project_id: pid } });\n  }\n}\n\nreturn unique;"
      },
      "id": "7fcc78cc-f6c6-48ac-8d3e-1c9bbc91af6e",
      "name": "Collecter Project IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        192
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $json;\nconst projectId = item.project_id;\n\ntry {\n  const data = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://search.worldbank.org/api/v2/projects?format=json&id=${projectId}`,\n    json: true\n  });\n\n  const project = data.projects?.[projectId];\n  if (!project) {\n    return {\n      json: {\n        project_id: projectId,\n        project_name: '',\n        country: '',\n        status: 'not_found',\n        total_amt: '',\n        approval_date: '',\n        closing_date: '',\n        implementing_agency: '',\n        sector_primary: '',\n        sectors_all: '',\n        theme_primary: '',\n        themes_all: '',\n        sub_themes: '',\n        project_url: `https://projects.worldbank.org/en/projects-operations/project-detail/${projectId}`\n      }\n    };\n  }\n\n  // Secteurs\n  const sectors = (project.sector_namecode || []).map(s => s.name).join(' | ');\n  const sectorPrimary = project.sector1?.Name || (project.sector_namecode?.[0]?.name || '');\n\n  // ThÃĻmes niveau 1\n  const themeList = project.theme_list || [];\n  const themesSorted = [...themeList].sort((a, b) => (b.percent || 0) - (a.percent || 0));\n  const themePrimary = themesSorted[0]?.name || '';\n  const themesAll = themesSorted.map(t => `${t.name} (${t.percent}%)`).join(' | ');\n\n  // Sous-thÃĻmes niveau 2 (top 5)\n  const subThemes = [];\n  for (const t of themeList) {\n    for (const t2 of (t.theme2 || [])) {\n      subThemes.push({ name: t2.name, percent: t2.percent || 0 });\n    }\n  }\n  const subThemesSorted = subThemes.sort((a, b) => b.percent - a.percent).slice(0, 5);\n  const subThemesStr = subThemesSorted.map(t => `${t.name} (${t.percent}%)`).join(' | ');\n\n  return {\n    json: {\n      project_id: projectId,\n      project_name: project.project_name || '',\n      country: project.countryshortname || '',\n      status: project.status || '',\n      total_amt: project.totalamt || '',\n      approval_date: project.boardapprovaldate ? project.boardapprovaldate.split('T')[0] : '',\n      closing_date: project.closingdate || '',\n      implementing_agency: project.impagency || '',\n      sector_primary: sectorPrimary,\n      sectors_all: sectors,\n      theme_primary: themePrimary,\n      themes_all: themesAll,\n      sub_themes: subThemesStr,\n      project_url: project.url || `https://projects.worldbank.org/en/projects-operations/project-detail/${projectId}`\n    }\n  };\n\n} catch (error) {\n  return {\n    json: {\n      project_id: projectId,\n      project_name: '',\n      country: '',\n      status: 'error',\n      total_amt: '',\n      approval_date: '',\n      closing_date: '',\n      implementing_agency: '',\n      sector_primary: '',\n      sectors_all: '',\n      theme_primary: '',\n      themes_all: '',\n      sub_themes: '',\n      project_url: `https://projects.worldbank.org/en/projects-operations/project-detail/${projectId}`,\n      _error: error.message\n    }\n  };\n}"
      },
      "id": "b203a90e-78f9-4934-8fdb-d50c67d359ca",
      "name": "API Projets BM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        192
      ]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1RDk6RzU6WQJXSlz1_SdDz57BsioO3O0UTbyarVDDJig",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "WB_Projects",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "project_id"
          ],
          "schema": [
            {
              "id": "project_id",
              "displayName": "project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "project_name",
              "displayName": "project_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amt",
              "displayName": "total_amt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "approval_date",
              "displayName": "approval_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "closing_date",
              "displayName": "closing_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "implementing_agency",
              "displayName": "implementing_agency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sector_primary",
              "displayName": "sector_primary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sectors_all",
              "displayName": "sectors_all",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "theme_primary",
              "displayName": "theme_primary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "themes_all",
              "displayName": "themes_all",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sub_themes",
              "displayName": "sub_themes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "project_url",
              "displayName": "project_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5fcda269-7d8b-42bb-aab0-e4c06be514e9",
      "name": "Google Sheets â WB_Projects",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        192
      ],
      "credentials": {
        "googleApi": {
          "id": "g9Hi58IPdo95t2xi",
          "name": "Google Service Account account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        176
      ],
      "id": "15abc5ef-d98f-4d1b-9b32-b2d2d9d61898",
      "name": "When clicking âExecute workflowâ"
    }
  ],
  "pinData": {},
  "connections": {
    "Config Pays": {
      "main": [
        [
          {
            "node": "Split par Pays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split par Pays": {
      "main": [
        [
          {
            "node": "Paginer API (tous pays)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paginer API (tous pays)": {
      "main": [
        [
          {
            "node": "Parser notice_text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser notice_text": {
      "main": [
        [
          {
            "node": "Filtre: a un laurÃĐat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre: a un laurÃĐat": {
      "main": [
        [
          {
            "node": "Tagger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tagger": {
      "main": [
        [
          {
            "node": "PrÃĐparer Rows (Awards)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Collecter Project IDs",
            "type": "main",
            "index": 0
          },
          {
            "node": "PrÃĐparer Rows (Members)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrÃĐparer Rows (Awards)": {
      "main": [
        [
          {
            "node": "Google Sheets â WB_Awards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrÃĐparer Rows (Members)": {
      "main": [
        [
          {
            "node": "Google Sheets â Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collecter Project IDs": {
      "main": [
        [
          {
            "node": "API Projets BM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Projets BM": {
      "main": [
        [
          {
            "node": "Google Sheets â WB_Projects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking âExecute workflowâ": {
      "main": [
        [
          {
            "node": "Config Pays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "de0e857b-f30b-41e1-be51-69a48cbae97e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "300ae4119235cd9a4c0fd592eba274645bf15041b2d9aacd2d53bcb0b855baee"
  },
  "id": "QvKCAb0KaX5tKVYw",
  "tags": []
}